.search__input{
    border-bottom: 1px solid gray;
}

.search__input::placeholder{
    font-size: 14px;
}

.products__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 7px;
}